.presentation {
	height: 100%;
	padding: 0 12px;
	margin-top: 32px;
}
.presentation-header {
	display: flex;
	justify-content: center;
}
.presentation-header img { 
	width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}
.presentation-about-me {
	text-align: center;
}
.presentation-about-me p {
	margin: 8px 0;
	font-size: 40px;
}
.presentation-info {
	height: 100%;
}
.presentation-title {
	margin: 0;
    font-size: 60px;
}