:root {
	--sm: 12px;
	--md: 16px;
	--lg: 20px;

	--dark-teal: #019267;
	--light-teal:#00C897;
	--dark-yellow: #FFD365;
	--light-yellow: #FDFFA9;
	--black: #000000;
	--white: #F5F5F5;
}
.space-between-divs {
	padding: 2rem 0;
}
.presentation {
	margin: 0 auto;
	height: 100%;
}
.presentation-info {
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 32px;
    height: 100vh;
}
.presentation-header {
	display: flex;
	justify-content: center;
}
.presentation-header img { 
	width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}
.presentation-about-me {
	margin-bottom: 200px;
	text-align: center;
}
.presentation-about-me .hello {
	margin: 8px 0;
	font-weight: 300;
	font-size: 40px;
}
.presentation-title {
	margin: 0;
    font-size: 60px;
}
.presentation-arrow {
	display: flex;
    margin: 0 auto;
    height: 80px;
    justify-content: flex-start;
}
.rol {
	margin: 8px 0 16px 0;
	font-weight: 500;
    font-size: 20px;
}
.whoiam {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 32px;
}
.header-whoiam {
	font-size: 32px;
	text-align: center;
}
.whoiam-two {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header-whoiam h2 {
	margin-top: 0;
}
.header-whoiam .header-whoiam-img {
	display: block;
	margin: 0 auto;

	width: 60px;
}
.article-whoiam {
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.whoiam .whoiam-studies {
	line-height: 1.5;
	font-size: 14px;
}
.whoiam footer {
	display: flex;
    justify-content: center;
}
.dowload-cv {
	display: flex;
    box-sizing: border-box;
    width: 208px;
    color: var(--black);
    background-color: var(--light-teal);
    border: 1px solid var(--dark-teal);
    text-decoration: none;
    margin: 0 auto;
    margin-top: 40px;
    padding: 8px;
}
.icon-dowload {
	width: 20px;
	margin: 0 8px;
}
.technologies-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0 0 0;
    height: 100vh;
}
.technologies {
	display: grid;
    margin: 0 auto;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
}
.technologies img {
	width: 100px;
    height: 100px;
}
.technologies img:nth-child(5) {
	width: 110px;
}
.technologies img:nth-child(7) {
	width: 150px;
    height: 150px;
}
.whoiam-arrow-container {

}
/*PROJECTS SECTION*/
.section-projects {
	padding: 32px 0;
}
.projects {
    padding: 32px 0;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
}
.projects-title {
	margin-top: 0;
	font-weight: 700;
	font-size: 40px;
    text-align: center;
}
.projects-description {
    text-align: center;
}
@media all and (max-width: 1024px) {
	.projects {
    	display: grid;
    	grid-template-columns: repeat(2, 1fr);
	}
}
@media all and (max-width: 768px) {
	.whoiam-two {
		display: grid;
	    grid-template-columns: repeat(1, 1fr);
	}
	.projects {
    	display: grid;
    	grid-template-columns: repeat(1, 1fr);
	}

}