:root {
	--sm: 12px;
	--md: 16px;
	--lg: 20px;

	--dark-teal: #019267;
	--light-teal:#00C897;
	--dark-yellow: #FFD365;
	--light-yellow: #FDFFA9;
	--black: #000000;
	--white: #F5F5F5;
}

.Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	padding: 0 12px;
}
.Header nav {
	display: flex;
    max-width: 50px;
    min-width: 50px;
    justify-content: flex-end;
}
.Header a {
	display: flex;
	align-items: center;
	text-decoration: none;
	width: 100%;
}
.Header a p:nth-child(2) {
	margin: 0 auto;
}
.Header-title {
    max-width: 50px;
    min-width: 50px;

	font-weight: 700;
	color: var(--black);
	font-size: 32px;
	margin: 0;
}
.Header-title span { 
	color: var(--dark-teal);
}
.hamburger-menu-container {
	display: flex;
	align-items: center;
}
.hamburger-menu-container img {
	width: 28px;
	max-height: 30px;
	min-height: 30px;
}